<p style="color: green"><%= notice %></p>

<%= render @operation %>

<div class="mt-5">
   <%= link_to "Редагувати", edit_operation_path( @operation), class: "btn btn-success btn-sm mb-3" %> 
  
  <%= button_to "Видалити", [@category, @operation], method: :delete, class: 'btn btn-danger btn-sm mb-3'%>
  <%= link_to "Back to operations", operations_path, class: "btn btn-secondary" %>
</div>
